body{
  background-color: green;
  color: black;
  font-family: "Arial";
}
p{
  color: white;
  font-style: italic;
  margin-bottom: 20px;
}
.quotes{
  color: white;
  padding-top: 20px;
  background-color: #5a6351;
  width: 33%;
  margin-right: auto;
  margin-left: auto;
  border-color: white;
  border-style: solid;
  height: auto;
}
.quote{
  font-size: 30px;
}
.author{
  font-size: 15px;
  font-style: italic;
}
.btn.btn-default{
  margin-top: 15px;
  margin-bottom: 15px;
}
